<ion-view title="Aggiungi prodotto" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <form id="aggiungiProdotto-form1" class="list">
      <div id="aggiungiProdotto-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#815CAA;">Nome prodotto</p>
      </div>
      <label class="item item-input" id="aggiungiProdotto-input1">
        <input placeholder="Inserire il nome del prodotto" type="text">
      </label>
    </form>
    <div id="aggiungiProdotto-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Quantità</p>
    </div>
    <form id="aggiungiProdotto-form2" class="list">
      <label class="item item-input" id="aggiungiProdotto-input3">
        <input placeholder="Inserire un numero" type="text">
      </label>
    </form>
    <button id="aggiungiProdotto-button9" class="button button-royal button-block">Aggiungi</button>
  </ion-content>
</ion-view>