<ion-view title="Cantiere" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 283px; height: 13px;"></div>
    <a ui-sref="effettuaOrdine()" id="cantiere-button3" class="button button-royal button-block icon-right ion-android-cart">Effettua ordine</a>
    <div class="spacer" style="width: 283px; height: 4px;"></div>
    <a ui-sref="statoOrdine()" id="cantiere-button4" class="button button-royal button-block icon-right ion-stats-bars">Stato ordine</a>
  </ion-content>
</ion-view>