<ion-view title="Effettua ordine" id="page13" style="">
    <ion-nav-buttons side="left" class="has-header">
        <button ui-sref="profilo2.cantiere()" class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="effettuaOrdine-list7">
            <label class="item item-input" id="effettuaOrdine-search1" style="">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Cerca prodotto" type="search">
            </label>
        </ion-list>
        <div class="spacer" style="width: 281.5px; height: 31px;"></div>
        <div id="effettuaOrdine-container1">
            <div id="effettuaOrdine-markdown26" class="show-list-numbers-and-dots">
                <p style="color:#815CAA;">Prodotti</p>
            </div>
            <ion-list id="effettuaOrdine-list14">
                <ion-item id="effettuaOrdine-list-item23" style="">Item
                    <ion-option-button class="button-assertive">Elimina</ion-option-button>
                </ion-item>
                <ion-item id="effettuaOrdine-list-item44" style="">Item
                    <ion-option-button class="button-assertive">Elimina</ion-option-button>
                </ion-item>
            </ion-list>
        </div>
        <div class="spacer" style="width: 281.5px; height: 31px;"></div>
        <div id="effettuaOrdine-markdown25" class="show-list-numbers-and-dots">
            <p style="color:#815CAA;">Informazioni aggiuntive</p>
        </div>
        <form id="effettuaOrdine-form28" class="list">
            <label class="item item-input" id="effettuaOrdine-textarea3">
                <span class="input-label"></span><textarea placeholder="Inserisci note o prodotti non presenti nel magazzino"></textarea></label>
    </form>
    <button id="effettuaOrdine-button24" class="button button-royal button-block">Effettua ordine</button>
  </ion-content>
</ion-view>