<ion-view title="Gestione ordini" id="page7" style="">
    <ion-nav-buttons side="left" class="has-header">
        <button ui-sref="profilo2.magazzino()" class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 13px;"></div>
        <a ui-sref="listaOrdini()" id="gestioneOrdini-button11" class="button button-royal button-block icon-right ion-android-list">Lista ordini</a>
        <div class="spacer" style="width: 283px; height: 4px;"></div>
        <a ui-sref="ordiniArchiviati()" id="gestioneOrdini-button12" class="button button-royal button-block icon-right ion-archive">Ordini archiviati</a>
    </ion-content>
</ion-view>