<ion-view title="Lista ordini" id="page11" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="listaOrdini-list11">
      <ion-item id="listaOrdini-list-item41" ui-sref="ordine()" style="">Item 1
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
      <ion-item id="listaOrdini-list-item42" ui-sref="ordine()" style="">Item 2</ion-item>
      <ion-item id="listaOrdini-list-item43" ui-sref="ordine()" style="">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>