<ion-view title="Lista prodotti" id="page10" style="">
    <ion-content padding="true" class="has-header">
        <ion-list id="modificaProdotto-list14">
            <ion-list id="modificaProdotto-list16">
                <ion-item class="item-icon-right assertive" id="listaProdotti-list-item14" ng-repeat="elemento in zero| filter: nome" ng-model="zero" > <b>Nome:</b> {{elemento.nome}} <b>Quantita':</b> {{elemento.numero}}
                    <i class="icon ion-android-alert"></i>
                </ion-item>
                <ion-item  id="modificaProdotto-list-item16" ng-repeat="sospeso in sospesi| filter: nome" ng-model="sospesi" > <b style="color:#815CAA;">Nome:</b> {{sospeso.nome}} <b style="color:#815CAA;">Quantita':</b> {{sospeso.numero}}
                </ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>