<ion-view title="Magazzino" id="page3" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 283px; height: 13px;"></div>
    <a ui-sref="gestioneProdotti()" id="magazzino-button1" class="button button-royal button-block icon-right ion-android-archive">Gestione prodotti</a>
    <div class="spacer" style="width: 283px; height: 4px;"></div>
    <a ui-sref="gestioneOrdini()" id="magazzino-button2" class="button button-royal button-block icon-right ion-android-create">Gestione ordini</a>
  </ion-content>
</ion-view>