<ion-view title="Modifica prodotto" id="page15" style="">
  <ion-content padding="true" class="has-header">
    <form id="modificaProdotto-form3" class="list">
      <div id="modificaProdotto-markdown4" class="show-list-numbers-and-dots">
        <p style="color:#815CAA;">Nome prodotto</p>
      </div>
      <label class="item item-select" id="modificaProdotto-select1">
        <span class="input-label">Seleziona il prodotto</span>
        <select></select>
      </label>
    </form>
    <div id="modificaProdotto-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Quantità</p>
    </div>
    <form id="modificaProdotto-form4" class="list">
      <label class="item item-input" id="modificaProdotto-input5">
        <input placeholder="Inserire un numero" type="text">
      </label>
    </form>
    <button id="modificaProdotto-button13" class="button button-royal button-block">Effettua la modifica</button>
  </ion-content>
</ion-view>