<ion-view title="Ordine" id="page20" style="">
  <ion-content padding="true" class="has-header">
    <div id="ordine-markdown31" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Riepilogo ordine</p>
    </div>
    <div id="ordine-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Bla Bla Bla</p>
    </div>
    <button id="ordine-button39" class="button button-royal button-block">Crea Pdf</button>
    <button id="ordine-button40" class="button button-royal button-block">Archivia</button>
    <button id="ordine-button41" class="button button-royal button-block">Invia l'ordine sull'email</button>
  </ion-content>
</ion-view>