<ion-view title="Ordini archiviati" id="page12" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="ordiniArchiviati-list6">
      <ion-item class="item-icon-right balanced" id="ordiniArchiviati-list-item20" ui-sref="ordine()" style="">Item 1
        <i class="icon ion-checkmark-round"></i>
      </ion-item>
      <ion-item class="item-icon-right balanced" id="ordiniArchiviati-list-item21" ui-sref="ordine()" style="">Item 2
        <i class="icon ion-checkmark-round"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>