<ion-view title="Ordine" id="page20" style="">
  <ion-content padding="true" class="has-header">
    <div id="ordine-markdown31" class="show-list-numbers-and-dots">
      <h4 style="color:#815CAA;"><b>Riepilogo ordine</b>
    </div>
    <div id="ordine-markdown32" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;"><b>Utente: </b>{{utente}} <b>Ordine numero: </b>{{ordine}}</p>
      
    </div>
      <ion-list id="effettuaOrdine-list14">
                    <ion-item class="item-icon-right positive" id="ordine-list-item44" ng-repeat="sospeso in sospesi"> <b style="color:#815CAA;">Nome:</b> {{sospeso.prodotto}} <b style="color:#815CAA;">Quantita' in magazzino:</b> {{sospeso.quantita}}</ion-item>

                </ion-list>
       <div id="ordine-markdown32" class="show-list-numbers-and-dots">
                       <div class="spacer" style="width: 281.5px; height: 15px;"></div>

      <p style="color:#815CAA;"  ng-show="info!== 'undefined'"><b>Informazioni aggiuntive: </b>{{info}} </p>
      
    <button id="ordine-button39" class="button button-royal button-block">Crea Pdf</button>
    <button id="ordine-button40" class="button button-royal button-block" ng-click="archivia()" ng-show="stato==0 && type==1">Archivia</button>
    <button id="ordine-button41" class="button button-royal button-block">Invia l'ordine sull'email</button>
  </ion-content>
</ion-view>