<ion-view title="Profilo" id="page18" style="">
  <ion-content padding="true" class="has-header">
    <div id="profilo-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Username</p>
    </div>
    <form id="profilo-form17" class="list">
      <div id="profilo-markdown28" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Username</p>
      </div>
    </form>
    <div id="profilo-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Indirizzo</p>
    </div>
    <form id="profilo-form18" class="list">
      <div id="profilo-markdown29" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Indirizzo</p>
      </div>
    </form>
    <div id="profilo-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Email</p>
    </div>
    <div id="profilo-markdown30" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Email</p>
    </div>
  </ion-content>
</ion-view>