<ion-view title="Recupera password" id="page19" style="">
  <ion-content padding="true" class="has-header">
    <div id="recuperaPassword-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Email</p>
    </div>
    <form id="recuperaPassword-form21" class="list">
      <label class="item item-input" id="recuperaPassword-input20">
        <input placeholder="Inserisci la tua email" type="text">
      </label>
    </form>
    <button id="recuperaPassword-button38" class="button button-royal button-block">Recupera credenziali</button>
  </ion-content>
</ion-view>