<ion-view title="Registrazione" id="page16" style="">
  <ion-content padding="true" class="has-header">
    <div id="registrazione-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Username</p>
    </div>
    <form id="registrazione-form9" class="list">
      <label class="item item-input" id="registrazione-input10">
        <input placeholder="Inserisci le tue credenziali per l'accesso" type="text">
      </label>
    </form>
    <div id="registrazione-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Indirizzo</p>
    </div>
    <form id="registrazione-form23" class="list">
      <label class="item item-input" id="registrazione-input22">
        <input placeholder="Inserisci indirizzo" type="text">
      </label>
    </form>
    <div id="registrazione-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Email</p>
    </div>
    <form id="registrazione-form13" class="list">
      <label class="item item-input" id="registrazione-input13">
        <input placeholder="Inserisci email" type="text">
      </label>
    </form>
    <div id="registrazione-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#815CAA;">Password</p>
    </div>
    <form id="registrazione-form10" class="list">
      <label class="item item-input" id="registrazione-input11">
        <input placeholder="" type="password">
      </label>
    </form>
    <a ui-sref="profilo2.SPECSrl()" id="registrazione-button32" class="button button-royal button-block">Registrati</a>
  </ion-content>
</ion-view>