<ion-view title=" S.P.E.C. Srl " id="page1" style="" >
  <ion-content padding="true" class="has-header">
    <form id="SPECSrl-form6" class="list" ng-controller="SPECSrlCtrl">
      <div>
        <img src="img/0ssWNKT8SB2BmqZU5fsD_index.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="SPECSrl-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#815CAA;">Username</p>
      </div>
        
      <label class="item item-input" id="SPECSrl-input7" name="username">
        <input placeholder="Inserisci le tue credenziali" type="text" ng-model="username">
      </label>
      <div id="SPECSrl-markdown10" class="show-list-numbers-and-dots">
        <p style="color:#815CAA;">Password</p>
      </div>
      <label class="item item-input" id="SPECSrl-input9">
        <input placeholder="Inserisci la password" type="password" ng-model="password">
      </label>

    <button id="SPECSrl-button30" class="button button-balanced button-block" ng-click="accedi()">Accedi</button>
    <a ui-sref="registrazione()" id="SPECSrl-button31" class="button button-royal button-block">Registrati</a>
    <a ui-sref="recuperaPassword()" id="SPECSrl-button33" style="font-weight:300;color:#815CAA;" class="button button-light button-small button-block button-clear">Recupera password</a>
   </form>
</ion-content>
</ion-view>