<ion-view title="Stato ordine" id="page14" style="">
    <ion-nav-buttons side="left" class="has-header">
        <button ui-sref="profilo2.cantiere()" class="button button-icon icon ion-android-arrow-back"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-list id="statoOrdine-list8">
            <ion-item class="item-icon-right" id="statoOrdine-list-item29" ng-repeat="elemento in completati" ng-model="completati" ng-click="selected(elemento)"><b style="color:#815CAA;"> Utente:</b> {{elemento.utente}} <b style="color:#815CAA;">Ordine numero':</b> {{elemento.ordine}}
                <i class="icon ion-android-car"></i>
            </ion-item>
            <ion-item  class="item-icon-right balanced" id="statoOrdine-list-item30" ng-repeat="sospeso in sospesi" ng-model="sospesi" ng-click="selected(sospeso)"> <b>Utente:</b> {{sospeso.utente}} <b>Ordine numero':</b> {{sospeso.ordine}}
                <i class="icon ion-checkmark-round"></i>
            </ion-item>
        </ion-list>



    </ion-content>
</ion-view>